html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}


body {
  font-family: "M PLUS 2", sans-serif;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
  display: inline-block;
}


a:hover {
  opacity: 0.7;
}


li {
  list-style: none;
}


img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  padding-inline-start: 0;
}




/* header  */

#header {
  width: 100%;
  height: 80px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6FCF6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


#header img {
  vertical-align: bottom;
}

#header #navi ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

#header #navi ul li {
  font-weight: 600;
}






/* mainvisual */


.mainvisual {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(img/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: 80px;
}

.mainvisual-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  padding-inline: 1%;
}

.mainvisual-title h1 {
  font-family: "DotGothic16", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.4);
}

.mainvisual-title a {
  color: #E6FCF6;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid #E6FCF6;
  background-color: #1EAA94;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  transition: all 0.3s;
  padding: 5px 30px 10px;
}

.mainvisual-title a img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}

.mainvisual-charas {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  padding-inline: 1%;
}

.mainvisual-charas-chara {
  opacity: 0;
  animation: fadein 1s forwards;
}

.mainvisual-charas-chara.char1 {
  animation-delay: 1s;
}

.mainvisual-charas-chara.char2 {
  animation-delay: 0s;
}

.mainvisual-charas-chara.char3 {
  animation-delay: 2s;
}

.mainvisual-text {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -98%);
  padding-inline: 1%;
}

.mainvisual-text p {
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-align: center;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}




.wrapper1 {
  background-color: #E6FCF6;
}




/* about */

#about {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 16px;
}

.about-contents {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.about-contents img {
  width: 40%;
}

.about-contents-text {
  width: 60%;
}

.about-top {
  font-size: 30px;
  font-weight: bold;
  margin: 50px 0 10px 80px;
}

.about-center {
  font-size: 36px;
  font-weight: bold;
  color: #1EAA94;
  margin-block: 0px;
}

.about-bottom {
  font-size: 18px;
  font-weight: 400;
}


.about-img {
  text-align: center;
}





/* introduction */


#introduction {
  padding-top: 100px;
}

.section-title {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  color: white;
  background-color: #1EAA94;
  border-radius: 50px;
  padding: 10px;
  margin: 0 auto 50px;
}

.section-title img {
  width: 7%;
  margin-right: 20px;
}



.introduction-list {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 16px;
}

.introduction-list li {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 50px;
}

.introduction-list li img {
  width: 40%;
  height: auto;
  border: 3px solid #1EAA94;
  border-radius: 30px;
}

.introduction-text {
  width: 60%;
  margin-left: 50px;
}

.intro-left .introduction-text {
  margin-left: 0;
  margin-right: 50px;
}


.introduction-text h3 {
  font-size: 30px;
  color: #1EAA94;
  margin-top: 0;
}

.introduction-text p {
  font-size: 1.2rem;
  text-align: justify;
}

.intro-right {
  background-color: #f3fffa;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  border-radius: 30px;
}

.intro-left {
  background-color: #E6FCF6;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  border-radius: 30px;
}


.intro-speech {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  padding-inline: 16px;
  margin: 0 auto 30px;
}

.speech img {
  width: 100%;
  overflow: unset;
}

.speech .teacher {
  width: 15%;
  height: auto;
}

.speech .speech-box {
  width: 80%;
  height: auto;

}



.join_btn {
  text-align: center;
  padding-bottom: 150px;
}

.join_btn a {
  color: #1EAA94;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid #1EAA94;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 5px 30px 10px;
}

.join_btn a img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}



/*user-voice*/

#user-voice {
  background: url(./img/background01.png);
  background-size: cover;
}

.voice-title h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 35px;
  text-align: center;
}

#user-voice ul {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 16px;
  display: flex;
  gap: 15px;
}

.user-interview {
  width: calc(100%/3);
  height: calc(100vh - 430px);
  background-color: #f2f9f6;
  border: 5px solid #1EAA94;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  margin-bottom: 100px;
}

#user-voice .user-interview .interview-q {
  width: 100%;
  height: 23%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interview-q img {
  height: auto;
  padding: 10%;
}

/*吹き出しの本体*/
.interview-q p {
font-size: 1.25rem;
  background-color: #f3fffa;
  padding: 5% 8%;
  text-align: justify;
  border: 3.5px solid #1EAA94;
  border-radius: 5px;
  position: relative;
}

/*吹き出しの三角形の枠線のところ*/
.interview-q p::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 100%;
  border: 10px solid transparent;
  border-right: 10px solid #1EAA94;
}

/*吹き出しの三角形の内側のところ*/
.interview-q p::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 100%;
  border: 7px solid transparent;
  border-right: 6px solid #f3fffa;
}

.interview-a {
  text-align: center;
}

.interview-a-up p {
  font-size: 1.2rem;
  height: 75%;
  text-align: justify;
}

.interview-a-down p {
  margin: 20px;
}

.interview-a-down img {
  width: 40%;
}

.interview-a-up {
  width: 88%;
  height: 55%;
  background-color: #f3fffa;
  margin: 0 auto;
  padding: 5%;
  border: 3.5px solid #1EAA94;
  border-radius: 5px;
  position: relative;
}

/*吹き出しの三角形の枠線のところ*/
.interview-a-up::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  border: 10px solid transparent;
  border-top: 10px solid #1EAA94;
}

/*吹き出しの三角形の内側のところ*/
.interview-a-up::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 46%;
  border: 7px solid transparent;
  border-top: 6px solid #f3fffa;
}




/*login*/
.login-list {
  width: 70%;
  max-width: 1300px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.step {
  height: 300px;
  display: flex;
  padding: 0 20px;
  background-color: #E6FCF6;
  border: 4px solid #1EAA94;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);

}

.step-left {
  width: 50%;
  display: flex;
}

.step-left .step-title {
  width: 50%;
}

.step-left .step-image img {
  width: 100%;
  /* text-align : center; */
  margin: 30px auto;
  border-bottom: 8px solid #73E0CB;
}

.step-left .step-title p {
  font-family: "DotGothic16", sans-serif;
  font-size: 3.5rem;
  color: #1EAA94;
  text-align: center;
  padding: 50px 0;
}

.step-right {
  width: 50%;
  margin: 80px 20px 0;
}

.step-right h2 {
  width: 400px;
  height: 50px;
  font-size: 1.7rem;
  color: #1EAA94;
  display: inline-block;
  border-bottom: 3px solid #1EAA94;
}

.step-right p {
  font-size: 1rem;
  margin-top: 20px;
}

.login-arrows {
  margin: 20px 0;
  text-align: center;
}






/* ↓私もあまりわかっておらずで説明上手くできないのですが
max-widthとmargin: 0 auto;を
同じclassでまとめると真ん中になりました！
コメントアウトしてるので参考までに適用してみてください！

.faq-content {
  margin: 0 auto;
}

.faq-speech {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

これらをまとめる
↓ */

/* .faq-content {
  margin: 0 auto;
  max-width: 1000px;
}

.faq-speech {
  display: flex;
  justify-content: center;
} */

/* これで適用されると思います！ */



/* faq */
/* * {
  border: 1px solid red;
} */

.faq-content {
  margin: 0 auto;
}

.faq-speech {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}