html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}


body {
  font-family: "M PLUS 2", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
  display: inline-block;
}


a:hover {
  opacity: 0.7;
}


li {
  list-style: none;
}


img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  padding-inline-start: 0;
}

p {
  font-size: 1.2rem;
}



/* 共通 */


/* section-title */

.section-title-around {
  max-width: 1000px;
  padding-inline: 16px;
  margin: 0 auto 50px;
}

.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
  background-color: #1EAA94;
  border-radius: 50px;
  padding: 10px;
}

.section-title img {
  width: 48px;
  margin-right: 20px;
}


/* join-btn */

.join-btn {
  min-height: 180px;
  text-align: center;
  padding: 0 16px 20px 16px;
}

.join-btn a {
  color: #1EAA94;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid #1EAA94;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 5px 30px 10px;
}

.join-btn a img {
  width: 50px;
  vertical-align: bottom;
}

.join-btn a:hover {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  border: 5px solid white;
  background-color: #1EAA94;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  opacity: 1;
  padding: 5px 30px 10px;
}

.join-btn a:hover img {
  width: 65px;
}




/* header  */

#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6FCF6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-inline: 3%;
  opacity: 0;
  animation: slide-down 1.5s forwards;
  animation-delay: 7.3s;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


#header img {
  vertical-align: bottom;
}

#pc-navi {
  display: block;
}

#pc-navi ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

#pc-navi ul li {
  font-weight: 600;
}

#header .toggle_btn {
  display: none;
}

#sp-navi {
  display: none;
}





/* mainvisual */


.mainvisual {
  width: 100%;
  height: 100vh;
  background-image: url(img/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.mainvisual-title {
  width: 100%;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding-inline: 1%;
}

.mainvisual-title h1 {
  font-family: "DotGothic16", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px rgba(51, 51, 51, 0.4);
}

.mainvisual-title h1 span {
  display: inline-block;
  font-size: 3.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: showup 1.8s forwards;
  animation-delay: calc(5s + 0.1s * var(--i));
}

@keyframes showup {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainvisual-title .spbr {
  display: none;
}


.mainvisual-title a {
  color: #E6FCF6;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid #E6FCF6;
  background-color: #1EAA94;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 5px 30px 10px;
  margin-top: 20px;
  opacity: 0;
  animation: fadein 1.5s forwards;
  animation-delay: 7.3s;
}

.mainvisual-title a:hover {
  color: #1EAA94;
  font-size: 2.5rem;
  font-weight: 600;
  border: 5px solid #1EAA94;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 5px 30px 10px;
}

.mainvisual-title a:hover img {
  width: 60px;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}




.mainvisual-title a img {
  width: 48px;
  vertical-align: bottom;
}




.mainvisual-charas-chara {
  width: 10%;
  opacity: 0;
}

.mainvisual-charas-chara.char1 {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -82%);
  padding-inline: 1%;
  animation: popin 1s forwards;
  animation-delay: 1s;
  z-index: 1;
}

.mainvisual-charas-chara.char2 {
  position: absolute;
  top: 76%;
  left: 42%;
  transform: translate(-42%, -76%);
  padding-inline: 1%;
  animation: slideInLeft1 1s forwards;
  animation-delay: 2s;
}

.mainvisual-charas-chara.char3 {
  position: absolute;
  top: 76%;
  left: 58%;
  transform: translate(-58%, -76%);
  padding-inline: 1%;
  animation: slideInRight1 1s forwards;
  animation-delay: 3s;
}

.mainvisual-charas-chara.char4 {
  position: absolute;
  top: 86%;
  left: 34%;
  transform: translate(-34%, -86%);
  padding-inline: 1%;
  animation: slideInLeft2 0.5s forwards;
  animation-delay: 3.2s;
  z-index: 1;
}

.mainvisual-charas-chara.char5 {
  position: absolute;
  top: 86%;
  left: 66%;
  transform: translate(-66%, -86%);
  padding-inline: 1%;
  animation: slideInRight2 0.5s forwards;
  animation-delay: 3.4s;
  z-index: 1;
}

.mainvisual-charas-chara.char6 {
  position: absolute;
  top: 76%;
  left: 26%;
  transform: translate(-26%, -76%);
  padding-inline: 1%;
  animation: slideInLeft3 0.5s forwards;
  animation-delay: 3.6s;
}

.mainvisual-charas-chara.char7 {
  position: absolute;
  top: 76%;
  left: 74%;
  transform: translate(-74%, -76%);
  padding-inline: 1%;
  animation: slideInRight4 0.5s forwards;
  animation-delay: 3.8s;
}

.mainvisual-charas-chara.char8 {
  position: absolute;
  top: 86%;
  left: 18%;
  transform: translate(-18%, -86%);
  padding-inline: 1%;
  animation: slideInLeft4 0.5s forwards;
  animation-delay: 4s;
  z-index: 1;
}

.mainvisual-charas-chara.char9 {
  position: absolute;
  top: 86%;
  left: 82%;
  transform: translate(-82%, -86%);
  padding-inline: 1%;
  animation: slideInRight3 0.5s forwards;
  animation-delay: 4.2s;
  z-index: 1;
}

.mainvisual-charas-chara.char10 {
  position: absolute;
  top: 76%;
  left: 10%;
  transform: translate(-10%, -76%);
  padding-inline: 1%;
  animation: slideInLeft5 1s forwards;
  animation-delay: 4.4s;
}

.mainvisual-charas-chara.char11 {
  position: absolute;
  top: 76%;
  left: 90%;
  transform: translate(-90%, -76%);
  padding-inline: 1%;
  animation: slideInRight5 1s forwards;
  animation-delay: 4.8s;
}


@keyframes popin {
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft1 {
  from {
    transform: translate(-50%, -82%);
    opacity: 0;
  }

  to {
    transform: translateX(-40%, -82%);
    opacity: 1;
  }
}

@keyframes slideInRight1 {
  from {
    transform: translate(-50%, -82%);
    opacity: 0;
  }

  to {
    transform: translateX(-60%, -82%);
    opacity: 1;
  }
}

@keyframes slideInLeft2 {
  from {
    transform: translate(-43%, -84%);
    opacity: 0;
  }

  to {
    transform: translateX(-37%, -84%);
    opacity: 1;
  }
}

@keyframes slideInRight2 {
  from {
    transform: translate(-56%, -84%);
    opacity: 0;
  }

  to {
    transform: translateX(-63%, -84%);
    opacity: 1;
  }
}

@keyframes slideInLeft3 {
  from {
    transform: translate(-37%, -83%);
    opacity: 0;
  }

  to {
    transform: translateX(-30%, -83%);
    opacity: 1;
  }
}

@keyframes slideInRight3 {
  from {
    transform: translate(-63%, -82%);
    opacity: 0;
  }

  to {
    transform: translateX(-70%, -82%);
    opacity: 1;
  }
}

@keyframes slideInLeft4 {
  from {
    transform: translate(-30%, -80%);
    opacity: 0;
  }

  to {
    transform: translateX(-23%, -80%);
    opacity: 1;
  }
}

@keyframes slideInRight4 {
  from {
    transform: translate(-70%, -80%);
    opacity: 0;
  }

  to {
    transform: translateX(-75%, -80%);
    opacity: 1;
  }
}

@keyframes slideInLeft5 {
  from {
    transform: translate(-23%, -82%);
    opacity: 0;
  }

  to {
    transform: translateX(-17%, -82%);
    opacity: 1;
  }
}

@keyframes slideInRight5 {
  from {
    transform: translate(-76%, -82%);
    opacity: 0;
  }

  to {
    transform: translateX(-82%, -82%);
    opacity: 1;
  }
}

.mainvisual-text {
  width: 100%;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -98%);
  padding-inline: 1%;
  opacity: 0;
  animation: fadein 1.5s forwards;
  animation-delay: 7.3s;
}

.mainvisual-text p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
}






/* about~introductionまで */
.top-wrapper {
  background-color: #E6FCF6;
}


/* about */

#about {
  max-width: 900px;
  padding-inline: 16px;
  margin-inline: auto;
}

.about-contents {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.about-contents img {
  width: 40%;
}

.about-contents-text {
  width: 60%;
  margin-left: 50px;
}

.about-contents-text-top {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
}

.about-contents-text-center {
  font-size: 2rem;
  font-weight: bold;
  color: #1EAA94;
  margin-block: 10px;
}

.about-contents-text-bottom {
  font-size: 1.2rem;
  font-weight: 400;
}


.about-img {
  text-align: center;
  margin-top: 50px;
}









/* introduction */


#introduction {
  padding-top: 100px;
}

.introduction-list {
  max-width: 1300px;
  padding-inline: 16px;
  margin-inline: auto;
}

.introduction-list-right,
.introduction-list-left {
  height: 300px;
  position: relative;
  padding: 50px 20px;
  margin-bottom: 30px;
}

.introduction-list-right {
  background-color: #f3fffa;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  border-radius: 30px;
}

.introduction-list-left {
  background-color: #E6FCF6;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  border-radius: 30px;
}



.introduction-list-right .introduction-imgs li {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(2%, -50%);
  opacity: 0;
  padding: 5px;
  margin-bottom: 0;
  animation: fade 9s infinite;
}

.introduction-list-left .introduction-imgs li {
  width: 40%;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(2%, -50%);
  opacity: 0;
  padding: 5px;
  margin-bottom: 0;
  animation: fade 9s infinite;
}

.introduction-imgs li:nth-child(1) {
  animation-delay: 0s;
}

.introduction-imgs li:nth-child(2) {
  animation-delay: 3s;
}

.introduction-imgs li:nth-child(3) {
  animation-delay: 6s;
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.introduction-imgs li img {
  width: 100%;
  border: 5px solid #1EAA94;
  border-radius: 25px;
}

.introduction-list-right .introduction-text {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-3%, -50%);
}


.introduction-list-left .introduction-text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(3%, -50%);
}

.introduction-text h3 {
  font-size: 1.5rem;
  color: #1EAA94;
  margin-block: 0px 10px;
}

.introduction-text p {
  text-align: justify;
}




.introduction-speech-items {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  padding: 0 3%;
  margin: 0 auto 30px;
}

.introduction-speech-chara {
  width: 15%;
  height: auto;
  margin-top: 22px;
}

.introduction-speech-chara img {
  width: 150px;
  height: 150px;
  overflow: unset;
}

.introduction-speech-box {
  width: 80%;
  height: auto;
  box-shadow: 2px 2px 5px 0.5px rgba(51, 51, 51, 0.25);
}

.introduction-speech-box p {
  font-size: 1.5rem;
  background-color: #f3fffa;
  padding: 5% 8%;
  text-align: justify;
  border: 3.5px solid #1EAA94;
  border-radius: 5px;
  position: relative;
}

.introduction-speech-box p::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 100%;
  border: 10px solid transparent;
  border-right: 10px solid #1EAA94;
}

.introduction-speech-box p::after {
  content: "";
  position: absolute;
  top: 62%;
  right: 100%;
  border: 6.5px solid transparent;
  border-right: 6px solid #f3fffa;
}

.introduction-speech-box p span {
  color: #199683;
  font-size: 1.7rem;
  font-weight: 500;
  background: linear-gradient(transparent 50%, #dcfd79 50%);
}






/*user-voice*/

#user-voice {
  background: url(./img/background02.png);
  background-size: cover;
  padding-top: 100px;
}

.voice-title h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 35px;
  text-align: center;
}

#user-voice ul {
  max-width: 1300px;
  margin-inline: auto;
  padding: 0 3%;
  display: flex;
  gap: 15px;
}

.user-interview {
  width: calc(100%/3);
  height: auto;
  background-color: #f2f9f6;
  border: 5px solid #1EAA94;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  margin-bottom: 100px;
}

#user-voice .user-interview .interview-q {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interview-q img {
  height: auto;
  padding: 10%;
}

/*吹き出しの本体*/
.interview-q p {
  font-size: 1.2rem;
  background-color: #f3fffa;
  padding: 5% 8%;
  text-align: justify;
  border: 3.5px solid #1EAA94;
  border-radius: 5px;
  position: relative;
}

/*吹き出しの三角形の枠線のところ*/
.interview-q p::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 100%;
  border: 10px solid transparent;
  border-right: 10px solid #1EAA94;
}

/*吹き出しの三角形の内側のところ*/
.interview-q p::after {
  content: "";
  position: absolute;
  top: 54px;
  right: 100%;
  border: 6.5px solid transparent;
  border-right: 6px solid #f3fffa;
}

.interview-a {
  text-align: center;
}

.interview-a-up p {
  font-size: 1.2rem;
  height: 75%;
  text-align: justify;
}


.interview-a-up p span {
  color: #199683;
  font-size: 1.2rem;
  font-weight: 450;
  background: linear-gradient(transparent 50%, #dcfd79 50%);
}

.interview-a-down p {
  margin: 20px;
}

.interview-a-down img {
  margin-bottom: 30px;
}

.interview-a-up {
  width: 88%;
  background-color: #f3fffa;
  margin: 0 auto;
  padding: 5%;
  border: 3.5px solid #1EAA94;
  border-radius: 5px;
  position: relative;
}

/*吹き出しの三角形の枠線のところ*/
.interview-a-up::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 10px solid #1EAA94;
}

/*吹き出しの三角形の内側のところ*/
.interview-a-up::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 6.5px solid transparent;
  border-top: 6px solid #f3fffa;
}


/* login*/

#login {
  padding-top: 100px;
}

.login-list {
  width: 75%;
  max-width: 1300px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.step {
  height: 300px;
  display: flex;
  padding: 0 20px;
  background-color: #E6FCF6;
  border: 4px solid #1EAA94;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
}

.step-left {
  width: 50%;
  display: flex;
}

.step-left .step-title {
  width: 50%;
}

.step-left .step-image img {
  width: 100%;
  margin: 30px auto;
  border-bottom: 8px solid #73E0CB;
}

.step-left .step-title p {
  font-family: "DotGothic16", sans-serif;
  font-size: 3.5rem;
  color: #1EAA94;
  text-align: center;
  padding: 50px 0;
}

.step-br {
  display: block;
}

.step-right {
  width: 80%;
  margin: 80px 20px 0;
}

.step-right h2 {
  height: 50px;
  font-size: 1.7rem;
  color: #1EAA94;
  display: inline-block;
  border-bottom: 3px solid #1EAA94;
}

.step-right p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.login-arrows {
  margin: 20px 0;
  text-align: center;
}




/* faq */

#faq {
  background-image: url(img/background02.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}

#faq .container {
  max-width: 1300px;
  padding-inline: 3%;
  margin: 0 auto;
}

#faq .faq-box {
  display: flex;
  overflow: hidden;
  margin: -20px auto;
}

.faq-wrapper {
  margin-bottom: 50px;
}

.faq-box .faceicon1,
.faceicon2,
.box1,
.box2 {
  width: 80px;
}

.faceicon1,
.faceicon2 {
  text-align: center;
}

.faq-box .chatting {
  width: 100%;
  margin-inline: 20px;
}

.says {
  width: 100%;
  display: inline-block;
  position: relative;
  border-radius: 12px;
  background-color: #E6FCF6;
  border: 3.5px solid #1EAA94;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 17px 20px;
  margin-top: 15px;
}

.says:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -25px;
  border: 12px solid transparent;
  border-right: 12px solid #1EAA94;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -20px;
  border: 12px solid transparent;
  border-right: 12px solid #E6FCF6;
}

.answer {
  color: white;
  width: 100%;
  display: inline-block;
  position: relative;
  border-radius: 12px;
  background-color: #1EAA94;
  border: 3.5px solid rgb(226, 226, 226);
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 17px 20px;
}

.answer:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25px;
  right: -27px;
  border: 12px solid transparent;
  border-left: 12px solid rgb(226, 226, 226);
}

.answer:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #1EAA94;
}


/* cta */

.cta_action {
  max-width: 1000px;
  margin: 0 auto;
}

.char {
  display: flex;
  justify-content: center;
  margin: 30px 0;

}

.char_people {
  position: relative;
  width: 140px;
  height: 150px;
  margin-right: 20px;
}

.char_people img {
  width: 50px;
}

#char1 {
  position: absolute;
  top: 30px;
  right: 70px
}

#char2 {
  position: absolute;
  top: 30px;
  right: 10px;
}

#char3 {
  position: absolute;
  top: 0px;
  right: 40px;
}

#char4 {
  position: absolute;
  top: 60px;
  right: 40px;
}

.char_comment {
  margin-top: 30px;
}

.char_comment .chatting2 {
  width: 100%;
}

.catchcopy {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 17px 13px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border: 3.5px solid #333;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
}

.catchcopy p {
  color: #1EAA94;
  font-size: 32px;
  font-family: "DotGothic16", sans-serif;
}

.catchcopy:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -27px;
  border: 12px solid transparent;
  border-right: 12px solid #333;
}

.catchcopy:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -22px;
  border: 12px solid transparent;
  border-right: 12px solid rgb(255, 255, 255);
}


/* footer */
footer {
  background-color: #E6FCF6;
  border-top: 2px solid rgb(190, 190, 190);
  display: flex;
  justify-content: space-between;
  padding: 0px 5% 10px 5%;
}

.footer_logo {
  width: 150px;
}

footer .footer_nav,
.footer_icon {
  display: flex;
}

.footer_nav li,
.footer_icon li {
  margin-inline: 5px;
}

footer nav {
  margin-top: 40px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  background-color: #E6FCF6;
  padding-block: 5px;
}







/* responsive */

@media (max-width:960px) {

  /* header */
  #pc-navi {
    display: none;
  }

  #header .toggle_btn {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
  }

  #header .toggle_btn span {
    display: block;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #1EAA94;
    border-radius: 4px;
    transition: all 0.5s;
  }

  .toggle_btn span:nth-child(1) {
    top: 36%;
  }

  .toggle_btn span:nth-child(2) {
    top: 64%;
  }

  .open .toggle_btn span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
  }


  .open .toggle_btn span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
  }

  #sp-navi {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3fffa;
    transition: all 0.5s;
    z-index: 20;
    display: block;
    opacity: 0;
    visibility: hidden;
    padding: 50px 16px;
  }

  #sp-navi .sp-logo {
    position: absolute;
    top: 2%;
    left: 3%;
  }

  #sp-navi ul {
    text-align: center;
    margin-block: 50px;
  }

  #sp-navi li {
    margin-bottom: 20px;
  }


  #sp-navi a {
    color: #1EAA94;
    font-weight: bold;
    font-size: 1.25rem;
  }

  #sp-navi .sp-good {
    width: 32px;
  }

  .open #sp-navi {
    opacity: 1;
    visibility: visible;
  }

  #sp-navi-btn a:hover {
    color: #1EAA94;
    font-size: 1.25rem;
    background-color: white;
    border: 5px solid #1EAA94;
  }




  /* mainvisual */


  .mainvisual-title h1 span {
    font-size: 2.25rem;
  }

  .mainvisual-charas-chara {
    width: 12%;
  }

  .mainvisual-title a:hover {
    color: #E6FCF6;
    font-size: 2rem;
    border: 5px solid #E6FCF6;
    background-color: #1EAA94;
  }
  
  .mainvisual-title a:hover img {
    width: 48px;
  }

  /* about */

  #about {
    padding-inline: 3%;
  }

  .about-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-contents img {
    width: 30%;
    height: auto;
  }

  .about-contents-text {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .about-contents-text-top {
    margin-top: 0;
  }

  .about-contents-text-center {
    font-size: 2.5rem;
  }


  .about-contents-text-bottom {
    width: 80%;
    margin: 20px auto 0 auto;
  }


  .about-img {
    padding: 50px 16px 0 16px;
  }

  .about-img img {
    width: 70%;
  }


  /* introduction */

  #introduction {
    padding-inline: 3%;
  }

  .introduction-list-right,
  .introduction-list-left {
    height: 700px;
    position: relative;
    padding: 50px 20px;
    margin-bottom: 30px;
  }


  .introduction-list-right .introduction-imgs li,
  .introduction-list-left .introduction-imgs li {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .introduction-list-right .introduction-imgs li img,
  .introduction-list-left .introduction-imgs li img {
    height: 350px;
  }



  .introduction-list-right .introduction-text,
  .introduction-list-left .introduction-text {
    width: 90%;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
  }




  .introduction-speech-items {
    padding: 0 6%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }


  .introduction-speech-chara img {
    width: 100px;
    height: 100px;
    overflow: unset;
  }

  .introduction-speech-box {
    width: 100%;
    margin-bottom: 40px;
  }



  .introduction-speech-box p::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 10px solid #1EAA94;
  }

  .introduction-speech-box p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 6.5px solid transparent;
    border-top: 6px solid #f3fffa;
  }



  /*user-voice*/
  .section-title-around {
    margin: 50px auto;
  }

  .voice-title h3 {
    font-size: 1.15rem;
    padding: 0 10%;
  }

  #user-voice ul {
    padding: 0 7% 15%;
    flex-direction: column;
  }

  .user-interview {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .interview-a-down {
    padding-bottom: 20px;
  }

  .interview-q p {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .interview-a-up p {
    font-size: 1.1rem;
  }



  /*吹き出しの枠*/
  .interview-q p::before {
    content: "";
    position: absolute;
    top: 55px;
    right: 100%;
    border: 10px solid transparent;
    border-right: 10px solid #1EAA94;
  }

  /*吹き出しの三角形の内側のところ*/
  .interview-q p::after {
    content: "";
    position: absolute;
    top: 59px;
    right: 100%;
    border: 6.5px solid transparent;
    border-right: 6px solid #f3fffa;
  }



  /*login*/
  .step {
    height: auto;
    flex-direction: column;
  }

  .step-left {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .step-right {
    text-align: center;
    margin: 0 auto;
  }

  .step-left .step-title {
    width: 100%;
  }

  .step-left .step-title p {
    font-size: 3rem;
    padding: 30px 0 10px;
  }

  .step-br {
    display: none;
  }

  .step-left .step-image img {
    margin: 0 auto 25px;
  }

  .step-right h2 {
    width: 100%;
    height: auto;
    border-bottom: none;
  }

  .step-right p {
    margin-bottom: 50px;
  }

/*join-btn*/
.join-btn a:hover {
  color: #1EAA94;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid #1EAA94;
  background-color: white;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.25);
  padding: 5px 30px 10px;
}

.join-btn a:hover img {
  width: 50px;
  vertical-align: bottom;
}




  /* faq */

  #faq .faq-box {
    margin: 10px auto;
  }

  .catchcopy {
    margin-bottom: 20px;
  }

  .catchcopy::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 95%;
    left: 48%;
    border: 12px solid transparent;
    border-top: 12px solid rgb(255, 255, 255);
  }

  .catchcopy::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 48%;
    border: 12px solid transparent;
    border-top: 12px solid rgb(0, 0, 0);
  }

  .char {
    flex-direction: column-reverse;
  }

  .char_people {
    margin: 0 auto;
  }

  .char_comment {
    margin: 0 auto;
  }

  .catchcopy p {
    font-size: 24px;
  }

  /* footer */

  footer ul li a{
    font-size: 0.8rem;
  }

  .footer_logo {
    width: 120px;
  }

}







@media (max-width:700px) {

  /* section-title */

  .section-title {
    font-size: 1.875rem;
  }


  .section-title img {
    width: 32px;
    margin-right: 10px;
  }

  /* mainvisual */

  .mainvisual-title {
    white-space: wrap;
  }

  .mainvisual-title h1 span {
    font-size: 2rem;
  }


  .mainvisual-title .spbr {
    display: block;
  }

  .mainvisual-title a {
    font-size: 1.25rem;
  }

  .mainvisual-title a img {
    width: 32px;
    vertical-align: bottom;
  }

  .mainvisual-title a:hover {
    color: #E6FCF6;
    font-size: 1.25rem;
    border: 5px solid #E6FCF6;
    background-color: #1EAA94;
  }
  
  .mainvisual-title a:hover img {
    width: 32px;
  }



  .mainvisual-charas-chara {
    width: 15%;
  }

  .mainvisual-text p {
    font-size: 1rem;
  }


  /* about */

  #about {
    padding-top: 70px;
  }

  .about-contents-text-top {
    font-size: 1.5rem;
  }

  .about-contents-text-center {
    font-size: 1.55rem;
  }

  .about-contents-text-bottom {
    font-size: 1rem;
  }

  .about-img img {
    width: 90%;
  }


  /* introduction  */


  .introduction-list-right,
  .introduction-list-left {
    height: 620px;
    position: relative;
    padding: 50px 20px;
    margin-bottom: 30px;
  }


  .introduction-list-right .introduction-imgs li,
  .introduction-list-left .introduction-imgs li {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }

  .introduction-list-right .introduction-imgs li img,
  .introduction-list-left .introduction-imgs li img {
    height: 300px;
    object-fit: fill;
  }



  .introduction-list-right .introduction-text,
  .introduction-list-left .introduction-text {
    width: 90%;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
  }



  .introduction-text p {
    font-size: 1rem;
  }


  .introduction-text h3 {
    font-size: 1.2rem;
  }

  .introduction-speech-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .introduction-speech-box p {
    font-size: 1.25rem;
  }

  .introduction-speech-box p span {
    font-size: 1.4rem;
  }

  /*btn*/
  .join-btn {
    min-height: 120px;
    text-align: center;
    padding: 0 12px 50px 12px;
  }

  .join-btn a {
    font-size: 1.25rem;
    padding: 5px 20px 10px;
    border: 3.5px solid #1EAA94;
  }

  .join-btn a img {
    width: 32px;
    vertical-align: bottom;
  }

  .join-btn a:hover {
    color: #1EAA94;
    font-size: 1.25rem;
    border: 3.5px solid #1EAA94;
    background-color: white;
    padding:5px 20px 10px;
  }
  
  .join-btn a:hover img {
    width: 32px;
    /* vertical-align: bottom; */
  }

  /*step*/
  .login-list {
    width: 85%;
  }

  .step-left .step-title p {
    font-size: 2.875rem;
  }


    /* footer */
    footer {
      flex-direction: column;
    }
  
    footer a {
      margin: 0 auto;
    }
  
    footer nav {
      text-align: center;
      margin: -5px auto 0 auto;
    }
  
    footer .footer_nav {
      flex-direction: column;
    }
  
    .footer_nav li {
      margin-bottom: 10px;
    }


}


@media (max-width:550px) {
  /* faq */
  .says p,.answer p {
    font-size: 1rem;
  }

  .catchcopy p {
    font-size: 1.25rem;
  }
}



@media (max-width:405px) {

/*step*/
.step-right h2{
font-size: 1.4rem;
}

  #sp-navi-btn a {
    font-size: 1.1rem;
  }

  #sp-navi-btn a:hover{
    font-size: 1.1rem;
  }

}